<p>To generate the basic skeleton of the project was chosen one of the generators provided
    in the task description (generator-boom: https://www.npmjs.com/package/generator-boom).
    It was quite useful. Some modifications concerning gulpfile were done.
</p>
<p>
    The project has 2 pages, routed by ui-router module. Simple volume count algorithm and Server-side connectivity are
    wrapped into the angular services. The Application has form fields validation, partially realized by angular
    built-in directives and
    services, and partially by myself also using angular directives.
</p>
<p>
    The application is tested with Jasmine framework using test runner karma. To style the application were used
    custom stylesheets alongside with bootstrap(angular-bootstrap) tools, which are very useful for fast html application
    development.
</p>
