body {
    font-family: Arial, sans-serif;
}

#main-wrapper {
    max-width: 1280px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
}

h1 {
    font-size: 20px;
    font-weight: 400;
}

input.form-control {
    border-radius: 0;
}
